* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
}

input {
  outline: none;
}

.container {
  width: 100%;
  max-width: 1256px;
  margin: 0 auto;
}
